<?xml version="1.0" encoding="UTF-8"?>
<config>
	<item date="January 2018">
		<unit>900</unit>
		<current>1</current>
		<interactive>1</interactive>
	</item>
	<item date="February 2018">
		<unit>400</unit>
		<current>2</current>
		<interactive>5</interactive>
	</item>
	<item date="December 2017">
		<unit>5</unit>
		<current>100</current>
		<interactive>3</interactive>
	</item>
</config>
